*{
    color: white;
    background-color:#1E1E1E;
}

Body {
    background-color:#1E1E1E;
}

.titulo {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
}

.btn-primary {
    margin-top: 1rem;
}